/*styling for 912x1368 screens*/
@media screen and (max-width: 912px) and (max-height: 1368px) {

    body {
        background-size: 912px 1368px;
    }

    .container {
        margin-top: 40%;
    }

    h4 {
        width: 16%;
    }

}

@media screen and (max-height: 912px) and (max-width: 1368px) {

    body {
        background-size: 1368px 912px;
    }

}

/*styling for 820x1180 screens*/
@media screen and (max-width: 820px) and (max-height: 1180px) {

    body {
        background-size: 820px 1180px;
    }


    h4 {
        width: 19%;
    }

}

@media screen and (max-height: 820px) and (max-width: 1180px) {

    body {
        background-size: 1180px 820px;
    }

}