/* index.html intro page formatting*/
#blankTop {
    height: 250px;
}

/* index.html intro page text*/
#welcome {
    text-align: center;
    text-shadow: 2px 2px gray;
    font-family: 'Anton', sans-serif;
}

#banner {
    margin-bottom: 10px;
}

/*index.html button*/
.bDiv {
    width: 33%;
}

#button {
    background: none;
    color: gray;
    border: 1.5px solid;
    border-color: gray;
    border-radius: 15px;
    position: absolute;
    left: 30%;
    box-shadow: 5px 5px 8px #888888;
    padding: 1px 11px 1px 11px;
}

/*main page css; navbar and links*/
a:link, a:visited {
    color: gray;
    text-decoration: none;
}

a:link:active, a:visited:active {
    color: darkgray;
  }

a:hover {
    color: rgb(71, 71, 71);
}

/*main page css; formating*/

.middle {
    height: 250px;
}

h5 {
    background: skyblue;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0 8px 0;
    color: white;
}

.boxes {
    padding: 0;
    border-style: double;
    border-width: 3px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#imgOne {
    width: 50%;
    margin-top: 7px;
}

#imgTwo {
    width: 75%;
    margin-top: 9px;
}

#imgThree {
    width: 75%;
    margin-top: 26px;
}

#aboutMeNav {
    margin-top: 40px;
    background: rgb(252, 240, 240);
    height: 500px;
    box-shadow: 10px 10px;
    border-style: double;
    border-width: 3px;
}

.box2 {
    width: 33%;
    height: 270px;
}

#rowOne {
    margin-bottom: 10px;;
}

#me {
    border-radius: 130px;
    margin-top: 35px;
    width: 65%;
}

#about {
    font-family: 'Do Hyeon', sans-serif;
}

p {
    margin: 0;
    background: white;
    margin: 5px 100px 0px 100px;
    padding: 1px 10px 1px 10px;
    border-style: double;
    border-width: 3px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

#worksDiv {
    background: rgb(252, 240, 240);
}

hr {
    background: white;
}

h2 {
    text-align: center;
}

.works {
    padding: 0;
}

#contactRow {
    height: 200px;
}

#contactRow2 {
    background: lightcoral;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: thistle;
}

.center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

ul.a {
    list-style-type: circle;
    margin-left: 25px;
  }

/* Media Queries */
@media screen and (max-width: 1024px) and (max-height: 1367px) {

    /*index.html*/
    #blankTop {
        height: 425px;
    }

    #button {
        left: 27%;
    }

}

 @media screen and (max-height: 1024px) and (max-width: 1367px) {

    /*index.html*/
    #blankTop {
        height: 375px;
    }

 }

 @media screen and (max-width: 768px) and (max-height: 1024px) {

    /*index.html*/
    #button {
        left: 20%;
    }

    /*main.html*/
    #blankTop {
        height: 140px;
    }

    .boxes {
        height: 250px;
    }

    #imgOne {
        margin-top: 0;
        width: 29%;
    }

    #imgTwo {
        margin-top: 0;
        width: 44%;
    }

    #imgThree {
        margin-top: 0;
        width: 55%;
    }

 }

 @media screen and (max-height: 768px) and (max-width: 1024px) {

    /*index.html*/
    #blankTop {
        height: 305px;
    }

    /*main.html*/
    #blankTop {
        height: 200px;
    }

 }

 @media screen and (max-width: 540px) and (max-height: 720px) {

    /*index.html*/
    #blankTop {
        height: 215px;
    }

    .bDiv {
        width: 34%;
    }

    #button {
        left: 7%;
    }

 }

 @media screen and (max-height: 540px) and (max-width: 720px) {

    /*index.html*/
    #blankTop {
        height: 225px;
    }

    .bDiv {
        width: 34%;
    }

    #button {
        left: 6%;
    }

 }

 @media screen and (max-width: 415px) and (max-height: 736px) {

    /*index.html*/
    #blankTop {
        height: 250px;
    }

    h1#welcome {
        font-size: 2rem;
    }

    #button {
        font-size: 12px;
        left: 9%;
    }

 }

 @media screen and (max-height: 415px) and (max-height: 736px) {

    /*index.html*/
    #blankTop {
        height: 180px;
    }

    .bDiv {
        width: 34%;
    }

    #button {
        left: 6%;
    }

 }

 @media screen and (max-width: 412px) and (max-height:824px) {

    /*index.html*/
    #blankTop {
        height: 245px;
    }

    h1#welcome {
        font-size: 2rem;
    }

    #button {
        font-size: 11px;
        left: 12%;
    }

 }

 @media screen and (max-height: 412px) and (max-width: 824px) {

    /*index.html*/
    #blankTop {
        height: 170px;
    }

    #button {
        left: 17%;
    }

 }

 @media screen and (max-height: 412px) and (max-width: 732px) {

    /*index.html*/
    #button {
        left: 7%;
    }

 }

 @media screen and (max-width: 376px) and (max-height: 668px) {

    /*index.html*/
    #button {
        left: 7%;
    }

 }

 @media screen and (max-width: 360px) and (max-height: 640px) {

    /*index.html*/
    #button {
        left: 4%;
    }

 }

 @media screen and (max-height: 360px) and (max-width: 640px) {

    /*index.html*/
    #blankTop {
        height: 140px;
    }

 }

 @media screen and (max-width: 320px) and (max-height: 568px) {

    /*index.html*/
    #blankTop {
        height: 200px;
    }

    h1#welcome {
        font-size: 1.7rem;
    }

    .bDiv {
        width: 35%;
    }

    #button {
        left: 2%;
    }

 }

 @media screen and (max-width: 281px) and (max-height: 654px) {

    /*index.html*/
    h1#welcome {
        font-size: 1.5rem;
    }

    #button {
        font-size: 7px;
        left: 8px;
    }

 }

 @media screen and (max-height: 281px) and (max-width: 654px) {

    /*index.html*/
    #blankTop {
        height: 110px;
    }

    #button {
        left: 6%;
    }

 }
