#welcome {
    text-align: center;
    text-shadow: 2px 2px gray;
    font-family: 'Anton', sans-serif;
}

#blankTop {
    height: 250px;
}

#banner {
    margin-bottom: 10px;
}

.bDiv {
    width: 33%;
}

button {
    background: none;
    color: gray;
    border: 1.5px solid;
    border-color: gray;
    border-radius: 15px;
    position: absolute;
    left: 30%;
    box-shadow: 5px 5px 8px #888888;
}

a:link, a:visited {
    color: gray;
    text-decoration: none;
    cursor: auto;
}

a:link:active, a:visited:active {
    color: blue;
  }

a:hover {
    color: blue;
}

@media screen and (max-width: 1199px) {
    
    button {
        position: absolute;
        left: 26%;
    }

}

@media screen and (max-width: 991px) {
    
    button {
        position: absolute;
        left: 20%;
    }

}

@media screen and (max-width: 767px) {
    
    button {
        position: absolute;
        left: 11%;
    }

}